<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/staticAdminManager/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css"
          rel="stylesheet">
</head>
<body>
<!-- Header Area Start -->
<header>
    <div th:fragment="header">
        <nav class="main-menu">
            <div class="container-fluid">
                <div class="main-menu__block">
                    <div class="main-menu__left">

                        <div class="main-menu__logo">
                            <a href="/">
                                <img src="/media/logo.png" alt="FlyNow">
                            </a>
                        </div>

                        <div class="main-menu__nav">
                            <ul class="main-menu__list">
                                <li><a href="/" class="active">Home</a></li>
                                <li class="dropdown">
                                    <a href="/flight/list/filter">Flights</a>
                                </li>
                                <li class="dropdown" th:if="${currentUser != null and currentUser.Role != null and currentUser.Role.name == 'USER'}">
                                    <a href="/user/news">News</a>
                                </li>
                                <li class="dropdown">
                                    <a href="/allCompanies">Companies</a>
                                </li>

                                <li class="dropdown" th:if="${currentUser != null and currentUser.Role != null and currentUser.Role.name == 'USER'}">
                                    <a href="/company">AddCompany</a>
                                </li>
                                <li class="dropdown" th:if="${currentUser != null}">
                                    <a href="/messages" class="main-menu__login">Chat</a>
                                </li>
                                <li class="dropdown">
                                    <a th:if="${currentUser != null and currentUser.Role != null and currentUser.Role.name == 'ADMIN'}" href="/admin">ADMIN Panel</a>
                                    <a th:if="${currentUser != null and currentUser.Role != null and currentUser.Role.name == 'MANAGER'}" href="/manager">MANAGER Panel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="main-menu__right">

                        <div class="main-menu-signup__login d-xl-flex d-none">
                            <a th:if="${currentUser == null}" href="/user/login" class="main-menu__login">
                                Login
                            </a>
                            <a th:if="${currentUser != null}" href="/user/profile"> <img
                                    th:if="${currentUser.getPicName()!=null}"
                                    th:src="@{/getImage(picName=${currentUser.picName})}" width="50px" style="border-radius: 100%">
                                <img th:if="${currentUser.getPicName() == null}"
                                     src="https://e7.pngegg.com/pngimages/426/859/png-clipart-computer-icons-user-membership-black-area.png"
                                     alt="User Icon" width="50" >
                            </a>
                            <div class="center_slach d-xl-flex d-none">/</div>
                            <a th:if="${currentUser == null}" href="/user/register" class="main-menu__login">
                                Signup
                            </a>
                            <a th:if="${currentUser != null}" href="/user/logout" class="main-menu__login">
                                logout
                            </a>

                        </div>

                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- Header Area end -->
<!-- Jquery Js -->
<script src="/js/vendor/jquery-3.6.3.min.js"></script>
<script src="/js/vendor/calendar/popper.min.js"></script>
<script src="/js/vendor/bootstrap.min.js"></script>
<script src="/js/vendor/slick.min.js"></script>
<script src="/js/vendor/jquery-appear.js"></script>
<script src="/js/vendor/jquery-validator.js"></script>
<script src="/js/vendor/aksVideoPlayer.js"></script>
<script src="/js/vendor/tilt.jquery.js"></script>
<script src="/js/vendor/calendar/picker.js"></script>
<script src="/js/vendor/calendar/picker.date.js"></script>
<script src="/js/vendor/autoComplete.js"></script>
<script src="/js/vendor/jquery.timepicker.min.js"></script>
<script src="/js/vendor/sal.js"></script>

<!-- Site Scripts -->
<script src="/js/date.js"></script>
<script src="/js/app.js"></script>
</body>
</html>