<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="FlyNow HTML5 Template">

    <title>FlyNow | Flight and Book</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/media/favicon.png">

    <!-- All CSS files -->
    <link rel="stylesheet" href="/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="/css/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/css/vendor/slick.css">
    <link rel="stylesheet" href="/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="/sass/helpers/_search-popup.scss">
    <link rel="stylesheet" href="/css/vendor/aksVideoPlayer.css">
    <link rel="stylesheet" href="/css/vendor/sal.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body class="o-scroll" id="js-scroll">
<!-- Preloader Start-->
<th:block th:insert="~{/fragments/preloader::preloader}"/>
<!-- Preloader End-->

    <!-- Back To Top Start -->
    <a href="#main-wrapper" id="backto-top" class="back-to-top"><i class="fas fa-angle-up"></i></a>
    <!-- Main Wrapper Start -->
    <div id="main-wrapper" class="main-wrapper overflow-hidden">

        <!-- Header Area Start -->
        <th:block th:insert="~{/fragments/header::header}"/>
        <!-- Header Area End -->


        <!-- Title-Banner Start -->
        <div class="title-banner">
            <div class="container-fluid">
                <div class="row">
                    <div class="banner-area">
                        <img src="/media/banner/vacation.png" alt="" class="left-image">
                        <div class="content-box">
                            <h1 class="fw-700 lightest-black">About Us</h1>
                        </div>
                        <img src="assets/media/banner/plane-2.png" alt="" class="right-image">
                    </div>
                </div>
            </div>
        </div>
        <!-- Title-Banner End -->

        <!-- Main Content Start -->
        <div class="page-content m-0">

            <!-- Video Section Start -->
            <section class="blog-video-sec p-40 mb-16" data-sal="slide-up" data-sal-duration="800" data-sal-delay="100" data-sal-easing="ease-in-out">
                <div class="container-fluid">
                    <div class="video-block bg-white light-shadow p-24 br-20">
                        <h2 class="light-black text-center mb-16">Where Your Journey Begins with <br class="d-md-flex d-none"> Quality and Reliability</h2>
                        <p class="light-black text-center mb-32">Lorem ipsum dolor sit amet consectetur. Nibh vivamus quis risus augue odio eget donec leo phasellus. <br> Auctor est aliquam commodo enim auctor libero. Cras sed sagittis id in ridiculus amet vel euismod. Eu nunc <br> lacus dui natoque. Consequat aenean tristique accumsan dictum augue.</p>
                        <img src="assets/media/blog/blog-banner.png" alt="" class="main-image br-20 light-shadow">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#videoModal" class="play-btn"><img src="assets/media/blog/play-btn.png" alt="" class="video-btn"></a>
                    </div>
                </div>
            </section>
            <!-- Video Section End -->
           
            <!-- Our History Start -->
            <section class="our-history p-40 mb-16" data-sal="slide-down" data-sal-duration="800" data-sal-delay="100" data-sal-easing="ease-in-out">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 mb-xl-0 mb-24">
                            <div class="left-block bg-white light-shadow p-24 br-20">
                                <h2 class="light-black mb-8">Our History</h2>
                                <h5 class="color-primary mb-8">Since 1998</h5>
                                <p class="light-black mb-32">
                                    Lorem ipsum dolor sit amet consectetur. Nibh vivamus quis risus augue odio eget donec leo phasellus. Auctor est aliquam commodo enim auctor libero. Cras sed sagittis id in ridiculus amet vel euismod. Eu nunc lacus dui natoque. Consequat aenean tristique accumsan dictum augue.
                                </p>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 mb-30">
                                        <div class="benefit-box bg-lightest-gray pad-32 br-30">
                                            <img src="assets/media/icons/car.png" alt="" class="mb-16">
                                            <h4 class="light-black">Extensive Selection of Luxury Cars</h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 mb-30">
                                        <div class="benefit-box bg-lightest-gray pad-32 br-30">
                                            <img src="assets/media/icons/hotel-lg.png" alt="" class="mb-16">
                                            <h4 class="light-black">Well-Maintained & Luxury Hotels</h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 mb-lg-0 mb-30">
                                        <div class="benefit-box bg-lightest-gray pad-32 br-30">
                                            <img src="assets/media/icons/calender-lg.png" alt="" class="mb-16">
                                            <h4 class="light-black">Easy and Intuitive Booking Process</h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="benefit-box bg-lightest-gray pad-32 br-30">
                                            <img src="assets/media/icons/support-lg.png" alt="" class="mb-16">
                                            <h4 class="light-black">Exceptional Customer Service</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                    <img src="assets/media/blog/since-1.png" alt="" class="br-20 light-shadow">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                    <img src="assets/media/blog/since-2.png" alt="" class="br-20 light-shadow">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 mb-sm-0 mb-30">
                                    <img src="assets/media/blog/since-3.png" alt="" class="br-20 light-shadow">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <img src="assets/media/blog/since-4.png" alt="" class="br-20 light-shadow">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Our History End -->

           <!-- Achievement Section Start -->
            <section class="achievement p-40 mb-16" data-sal="slide-up" data-sal-duration="800" data-sal-delay="100" data-sal-easing="ease-in-out">
                <div class="container-fluid">
                    <div class="bg-white light-shadow br-20">
                        <div class="row align-items-center pad-64">
                            <div class="col-xl-6 col-lg-12 mb-xl-0 mb-24">
                                <h5 class="color-primary mb-16">Achievement</h5>
                                <h3 class="h-36 bold mb-8">Your Destination Awaits, Book Now</h3>
                                <p class="dark-gray mb-24">Lorem ipsum dolor sit amet consectetur. Sed leo sit semper sed
                                    facilisis ultrices urna eu. <br> In tellus interdum vel ac massa interdum viverra elementum auctor.</p>
                                <div class="counter-section mb-24">
                                    <div class="row">
                                        <div class="col-sm-6 mb-sm-0 mb-24">
                                            <div class="counter-count bg-lightest-gray">
                                                <div>
                                                    <span class="count h-36 bold color-primary">12870</span>
                                                    <span class="h-36 bold color-primary">+</span>
                                                    <h5 class="title white">Happy Customers</h5>
                                                </div>
                                                <img src="assets/media/icons/user.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="counter-count bg-lightest-gray">
                                                <div>
                                                    <span class="count h-36 bold color-primary">100</span>
                                                    <span class="h-36 bold color-primary">%</span>
                                                    <h5 class="title white">Client Satisfied</h5>
                                                </div>
                                                <img src="assets/media/icons/user-2.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-md-flex gap-32 align-items-center">
                                    <h5 class="lightest-black mb-md-0 mb-16">Let's Connect Reach Out for More Information
                                    </h5>
                                    <a href="contact-us.html" class="cus-btn">Contact us</a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-12">
                                <img src="assets/media/images/achievement-image.png" alt="" class="achievement-image light-shadow br-20">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Achievement Section End -->

            <!-- Benefits Start -->
            <section class="benefit p-40" data-sal="slide-down" data-sal-duration="800" data-sal-delay="100" data-sal-easing="ease-in-out">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-6 mb-xl-0 mb-24">
                            <div class="benefit-block bg-white">
                                <div class="image-box">
                                    <img src="assets/media/vector/benefit-1.png" alt="">
                                </div>
                                <div class="text-box">
                                    <h4 class="lightest-black mb-8">We are Now Available</h4>
                                    <p class="color-medium-gray">Call +1 555 666 888 contact with us</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 mb-lg-0 mb-24">
                            <div class="benefit-block bg-white">
                                <div class="image-box">
                                    <img src="assets/media/vector/benefit-2.png" alt="">
                                </div>
                                <div class="text-box">
                                    <h4 class="lightest-black mb-8">International Flight</h4>
                                    <p class="color-medium-gray">Call +1 555 666 888 contact with us</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 ">
                            <div class="benefit-block bg-white">
                                <div class="image-box">
                                    <img src="assets/media/vector/benefit-3.png" alt="">
                                </div>
                                <div class="text-box">
                                    <h4 class="lightest-black mb-8">Check Refund</h4>
                                    <p class="color-medium-gray">Call +1 555 666 888 contact with us</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Benefits End -->
          
            <!-- Testimonials Section Start -->
            <section class="testimonials p-40" data-sal="slide-up" data-sal-duration="800" data-sal-delay="100" data-sal-easing="ease-in-out">
                <div class="container-fluid">
                    <div class="testimonials-box bg-white light-shadow br-20">
                        <div class="row align-items-center">
                            <div class="col-xl-4">
                                <div class="text-area">
                                    <h5 class="color-primary mb-16">Testimonials</h5>
                                    <h3 class="h-61 bold lightest-black">What our clients think about us?</h3>
                                </div>
                            </div>
                            <div class="col-xl-7 offset-xl-1">
    
                                <div class="testimonial-slider">
                                    <div class="review-block bg-lightest-gray pad-32 br-10">
                                        <div class="user-image d-flex mb-32">
                                            <img src="assets/media/user/user-1.png" alt="">
                                            <img src="assets/media/user/user-2.png" alt="">
                                            <img src="assets/media/user/user-3.png" alt="">
                                        </div>
                                        <h6 class="light-black mb-32">Lorem ipsum dolor sit amet consectetur. Eget ornare ac
                                            eleifend leo mauris suspendisse. Bibendum
                                            suspendisse proin aliquet porttitor sed vulputate proin ultrices et. Ut leo
                                            integer nunc amet curabitur nulla ipsum.
                                            Ultrices proin sit a aliquet lorem. Nisl lobortis amet eu vitae eget hendrerit
                                            a. Erat amet facilisi sed nunc
                                            consectetur.</h6>
                                        <h5 class="light-black mb-2">Mr John Deo</h5>
                                        <p class="dark-gray">CEO at FlyNow</p>
                                    </div>
                                    <div class="review-block bg-lightest-gray pad-32 br-10">
                                        <div class="user-image d-flex mb-32">
                                            <img src="assets/media/user/user-2.png" alt="">
                                            <img src="assets/media/user/user-1.png" alt="">
                                            <img src="assets/media/user/user-3.png" alt="">
                                        </div>
                                        <h6 class="light-black mb-32">Lorem ipsum dolor sit amet consectetur. Eget ornare ac
                                            eleifend leo mauris suspendisse. Bibendum
                                            suspendisse proin aliquet porttitor sed vulputate proin ultrices et. Ut leo
                                            integer nunc amet curabitur nulla ipsum.
                                            Ultrices proin sit a aliquet lorem. Nisl lobortis amet eu vitae eget hendrerit
                                            a. Erat amet facilisi sed nunc
                                            consectetur. </h6>
                                        <h5 class="light-black mb-2">Mr John Deo</h5>
                                        <p class="dark-gray">CEO at FlyNow</p>
                                    </div>
                                    <div class="review-block bg-lightest-gray pad-32 br-10">
                                        <div class="user-image d-flex mb-32">
                                            <img src="assets/media/user/user-3.png" alt="">
                                            <img src="assets/media/user/user-1.png" alt="">
                                            <img src="assets/media/user/user-2.png" alt="">
                                        </div>
                                        <h6 class="light-black mb-32">Lorem ipsum dolor sit amet consectetur. Eget ornare ac
                                            eleifend leo mauris suspendisse. Bibendum
                                            suspendisse proin aliquet porttitor sed vulputate proin ultrices et. Ut leo
                                            integer nunc amet curabitur nulla ipsum.
                                            Ultrices proin sit a aliquet lorem. Nisl lobortis amet eu vitae eget hendrerit
                                            a. Erat amet facilisi sed nunc
                                            consectetur. </h6>
                                        <h5 class="light-black mb-2">Mr John Deo</h5>
                                        <p class="dark-gray">CEO at FlyNow</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Testimonials Section End -->

        </div>
        <!-- Main Content End -->

        <!-- Footer Start -->
        <th:block th:insert="~{/fragments/footer::footer}"/>
        <!-- Footer Area End  -->

        <!-- modal-popup area Start  -->
        <div class="search-popup">
            <div class="search-popup__overlay search-toggler"></div>
            <div class="search-popup__content">
                <form role="search" method="get" class="search-popup__form" action="indexTwo.html">
                    <input type="text" id="search" placeholder="Search Here...">
                    <button type="submit"><i class="fal fa-search"></i></button>
                </form>
            </div>
        </div>
        <!-- search-popup end-->
    </div>

    <!-- Mobile Menu Start -->
    <th:block th:insert="~{/fragments/mobileMenu::mobileMenu}"/>
    <!-- Mobile Menu End -->

    <!-- modal-popup area start  -->
  <div class="modal fade" id="videoModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="top_bar">
          <h4 class="modal-title">Classical Optical Glasses</h4>
          <button type="button" class="close" id="closeVideoModalButton" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fas fa-times"></i> <b>Close</b></span>
          </button>
        </div>
        <div class="modal-body">
          <video controls="" title="Video">
            <source src="/media/airline-ad.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
  <!-- modal-popup area end  -->

    <!-- Jquery Js -->
    <script src="/js/vendor/jquery-3.6.3.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/vendor/slick.min.js"></script>
    <script src="/js/vendor/jquery-appear.js"></script>
    <script src="/js/vendor/jquery-validator.js"></script>
    <script src="/js/vendor/aksVideoPlayer.js"></script>
    <script src="/js/vendor/sal.js"></script>

    <!-- Site Scripts -->
    <script src="/js/app.js"></script>
</body>

</html>