<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Companies</title>
</head>
<body class="">

<!-- Preloader Start-->
<th:block th:insert="~{/fragments/preloader::preloader}"/>
<!-- Preloader End-->


<!-- Header Area Start -->
<th:block th:insert="~{/fragments/header::header}"/>
<!-- Header Area End -->


<!-- Mobile Menu Start -->
<th:block th:insert="~{/fragments/mobileMenu::mobileMenu}"/>
<!-- Mobile Menu End -->


<!-- Footer Start -->
<th:block th:insert="~{/fragments/footer::footer}"/>
<!-- Footer Area End  -->
</body>
</html>