<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="FlyNow HTML5 Template">

    <title>FlyNow | Travling And Tours Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/media/favicon.png">

    <!-- All CSS files -->
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="assets/css/fonts/icomoon/style.css">
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/slick.css">
    <link rel="stylesheet" href="assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="assets/sass/helpers/_search-popup.scss">
    <link rel="stylesheet" href="assets/css/vendor/sal.css">
    
    <link rel="stylesheet" href="assets/css/app.css">
</head>

<body class="o-scroll" id="js-scroll">
    <!-- Preloader-->
    <div id="preloader">
        <div class="loader">
            <div class="wait"> Veuillez patienter svp</div>
            <div class="plane">
                <img src="../../up/19/34/4820.gif" class="plane-img" alt="">
            </div>
            <div class="earth-wrapper">
                <div class="earth"></div>
            </div>
        </div>
        <!-- <dotlottie-player src="https://lottie.host/cd993b04-33dd-4600-a4b6-62897a52f071/6gZOhSlbtF.json" background="#b5c5ff" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player> -->
    </div>
    <!-- Back To Top Start -->
    <a href="#main-wrapper" id="backto-top" class="back-to-top"><i class="fas fa-angle-up"></i></a>
    <!-- Main Wrapper Start -->
    <div id="main-wrapper" class="main-wrapper overflow-hidden">

        <!-- Header Area Start -->
        <header>
            <nav class="main-menu">
                <div class="container-fluid">
                    <div class="main-menu__block">
                        <div class="main-menu__left">

                            <div class="main-menu__logo">
                                <a href="indexTwo.html">
                                    <img src="assets/media/logo.png" alt="FlyNow">
                                </a>
                            </div>

                            <div class="main-menu__nav">
                                <ul class="main-menu__list">
                                    <li><a href="indexTwo.html">Home</a></li>
                                    <li class="dropdown">
                                        <a href="javascript:void(0);">Flight</a>
                                        <ul class="sub-menu">
                                            <li><a href="flight-listing.html">Flight Listing</a></li>
                                            <li><a href="flight-booking.html">Flight Booking</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="javascript:void(0);">Car</a>
                                        <ul class="sub-menu">
                                            <li><a href="car-listing.html">Car Listing</a></li>
                                            <li><a href="car-booking.html">Car Booking</a></li>
                                            <li><a href="car-detail.html">Car Detail</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="javascript:void(0);">Hotel</a>
                                        <ul class="sub-menu">
                                            <li><a href="hotel-listing.html">Hotel Listing</a></li>
                                            <li><a href="hotel.html">Hotel Booking</a></li>
                                            <li><a href="hotel-detail.html">Hotel Detail</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="tour-packages.html">Tour Package</a></li>
                                    
                                    <li class="dropdown">
                                        <a href="javascript:void(0);" class="active">Pages</a>
                                        <ul class="sub-menu">
                                            <li><a href="aboutUs.html">About</a></li>
                                            <li><a href="contact.html" class="active">Contact</a></li>
                                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="register.html">Signup</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="javascript:void(0);">News</a>
                                        <ul>
                                            
                                            <li><a href="news.html">News Listing</a></li>
                                            <li><a href="news.html">News Detail</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="main-menu__right">
                            <a href="#" class="main-menu__search search-toggler d-xl-flex d-none">
                                <i class="fal fa-search"></i>
                            </a>
                            <div class="main-menu-signup__login d-xl-flex d-none">
                                <a href="login.html" class="main-menu__login">
                                    Login
                                </a>
                                <div class="center_slach d-xl-flex d-none">/</div>
                                <a href="register.html" class="main-menu__login">
                                    Signup
                                </a>
                            </div>
                            <a href="#" class="main-menu__toggler mobile-nav__toggler">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Header Area end -->


        <!-- Title-Banner Start -->
        <div class="title-banner">
            <div class="container-fluid">
                <div class="row">
                    <div class="banner-area">
                        <img src="assets/media/banner/vacation.png" alt="" class="left-image">
                        <div class="content-box">
                            <h1 class="fw-700 lightest-black">Contact <br class="title-break"> Us</h1>
                        </div>
                        <img src="assets/media/banner/plane-2.png" alt="" class="right-image">
                    </div>
                </div>
            </div>
        </div>
        <!-- Title-Banner End -->

        <!-- Main Content Start -->
        <div class="page-content m-0">

           <!-- Contact Us Form Start -->
        <div class="contact-us p-60">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2" data-sal="slide-right" data-sal-duration="800" data-sal-delay="100" data-sal-easing="ease-in-out">
                        <form action="contact.html" method="post" class="contact-form">
                            <div class="row">
                                <div class="col-sm-6 mb-24">
                                    <input type="text" name="name" class="form-control" id="f-name" placeholder="Name" required="">
                                </div>
                                <div class="col-sm-6 mb-24">
                                    <input type="email" name="email" class="form-control" id="mail" placeholder="Email" required="">
                                </div>
                                <div class="col-sm-6 mb-24">
                                    <input type="tel" name="phone" class="form-control" id="p_number" placeholder="Mobile Number" required="">
                                </div>
                                <div class="col-sm-6 mb-24">
                                    <input type="text" name="subject" class="form-control" id="subj" placeholder="Subject" required="">
                                </div>
                                <div class="col-sm-12 mb-24">
                                    <textarea name="message" class="form-control" id="comment" cols="30" rows="10" placeholder="Message" required=""></textarea>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="cus-btn">Send Message</button>
                                <!-- Alert Message -->
                                <div id="message" class="alert-msg"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1701097.9613410516!2d151.92069762902617!3d-33.619391886943205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b129838f39a743f%3A0x3017d681632a850!2sSydney%20NSW%2C%20Australia!5e0!3m2!1sen!2s!4v1701407434711!5m2!1sen!2s" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" data-sal="slide-left" data-sal-duration="800" data-sal-delay="100" data-sal-easing="ease-in-out"></iframe>
            </div>
        </div>
           <!-- Contact Us Form End -->

        </div>
        <!-- Main Content End -->

        <!-- Footer Start -->
        <footer class="bg-white p-40" data-sal="slide-up" data-sal-duration="800" data-sal-delay="100" data-sal-easing="ease-in-out">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-lg-0 mb-32 ">
                        <a href=""><img src="assets/media/logo.png" alt="" class="mb-16"></a>
                        <p class="dark-gray mb-16">Lorem ipsum dolor sit amet consectetur. Aliquet vulputate augue
                            penatibus in
                            libero et id aliquam. In ridiculus pretium est velit euismod. </p>
                        <h6 class="lightest-black mb-8">Subscribe to our special offers</h6>
                        <form action="indexTwo.html" method="post">
                            <input type="email" class="form-control" placeholder="Email address" name="email">
                            <button type="submit" class="subscribe">Subscribe</button>
                        </form>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 col-6 mb-lg-0 mb-32">
                        <h4 class="light-black mb-24">Booking</h4>
                        <div class="our-links">
                            <ul class="unstyled">
                                <li class="mb-16"><a href="flight-booking.html" class="light-black">Book Flights</a>
                                </li>
                                <li class="mb-16"><a href="tour-packages.html" class="light-black">Travel Services</a>
                                </li>
                                <li class="mb-16"><a href="car-booking.html" class="light-black">Transportation</a></li>
                                <li class="mb-16"><a href="tour-packages.html" class="light-black">Planning Your
                                        Trip</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 col-6 mb-lg-0 mb-32">
                        <h4 class="light-black mb-24">Useful Links</h4>
                        <div class="our-links">
                            <ul class="unstyled">
                                <li class="mb-16"><a href="indexTwo.html" class="light-black">Home</a>
                                </li>
                                <li class="mb-16"><a href="news.html" class="light-black">Blogs</a>
                                </li>
                                <li class="mb-16"><a href="aboutUs.html" class="light-black">About </a></li>
                                <li class="mb-16"><a href="contact.html" class="light-black">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 col-6 mb-md-0 mb-32">
                        <h4 class="light-black mb-24">Manage</h4>
                        <div class="our-links">
                            <ul class="unstyled">
                                <li class="mb-16"><a href="flight-booking.html" class="light-black">Check-in</a></li>
                                <li class="mb-16"><a href="tour-packages.html" class="light-black">Manage Your
                                        Booking</a></li>
                                <li class="mb-16"><a href="car-listing.html" class="light-black">Chaurfeur Drive</a>
                                </li>
                                <li class="mb-16"><a href="flight-listing.html" class="light-black">Flight Status</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <h4 class="light-black mb-16">Contact Us</h4>
                        <div class="follow-us">
                            <ul class="unstyled">
                                <li class="mb-8"><img src="assets/media/icons/location-bk.png" alt="">&nbsp;&nbsp;123
                                    Main Street, Anytown, USA.</li>
                                <li class="mb-8 h-27 color-primary"><img src="assets/media/icons/telephone.png" alt="">&nbsp;&nbsp;+1 234 567 890</li>
                                <li class="mb-24"><a href=""><img src="assets/media/icons/mail.png" alt="">&nbsp;&nbsp;email@example.com</a></li>
                            </ul>
                        </div>
                        <div class="social-link mb-32">
                            <h6 class="light-black mb-8">Follow Us!</h6>
                            <ul class="unstyled">
                                <li><a href="" class="active"><img src="assets/media/icons/instagram.png" alt=""></a></li>
                                <li><a href=""><img src="assets/media/icons/facebook.png" alt=""></a></li>
                                <li><a href=""><img src="assets/media/icons/linkedin.png" alt=""></a></li>
                                <li><a href=""><img src="assets/media/icons/twitter.png" alt=""></a></li>
                            </ul>
                        </div>
                        <p class="light-black">©2023 FlyNow All Rights Reserved.</p>

                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End  -->

        <!-- modal-popup area Start  -->
        <div class="search-popup">
            <div class="search-popup__overlay search-toggler"></div>
            <div class="search-popup__content">
                <form role="search" method="get" class="search-popup__form" action="indexTwo.html">
                    <input type="text" id="search" placeholder="Search Here...">
                    <button type="submit"><i class="fal fa-search"></i></button>
                </form>
            </div>
        </div>
        <!-- search-popup end-->
    </div>


    <!-- Mobile Menu Start -->
    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"></span>
            <div class="logo-box">
                <a href="indexTwo.html" aria-label="logo image"><img src="assets/media/logo.png" alt="" class="invisible"></a>
            </div>
            <div class="mobile-nav__container"></div>
            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fas fa-envelope"></i>
                    <a href="mailto:example@company.com">example@company.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:+12345678">+123 (4567) -890</a>
                </li>
            </ul>
            <!-- <div class="mobile-nav__social">
        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
        <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
      </div> -->
        </div>
    </div>
    <!-- Mobile Menu End -->
    <!-- modal-popup area start  -->
  <div class="modal fade" id="videoModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="top_bar">
          <h4 class="modal-title">Classical Optical Glasses</h4>
          <button type="button" class="close" id="closeVideoModalButton" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fas fa-times"></i> <b>Close</b></span>
          </button>
        </div>
        <div class="modal-body">
          <video controls="" title="Video">
            <source src="assets/media/blog/airline-ad.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
  <!-- modal-popup area end  -->

    <!-- Jquery Js -->
    <script src="assets/js/vendor/jquery-3.6.3.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/slick.min.js"></script>
    <script src="assets/js/vendor/jquery-appear.js"></script>
    <script src="assets/js/vendor/jquery-validator.js"></script>
    <script src="assets/js/vendor/sal.js"></script>

    <!-- Site Scripts -->
    <script src="assets/js/app.js"></script>
</body>

</html>