<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="FlyNow HTML5 Template">

    <title>FlyNow | Travling And Tours Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/media/favicon.png">

    <!-- All CSS files -->
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="assets/css/vendor/wizard/smart_wizard_all.min.css"> -->
    <link rel="stylesheet" href="assets/sass/helpers/_search-popup.scss">
    <link rel="stylesheet" href="assets/css/fonts/icomoon/style.css">
    <link rel="stylesheet" href="assets/sass/helpers/_search-popup.scss">
    <link rel="stylesheet" href="assets/css/vendor/datetime.css">
    <link rel="stylesheet" href="assets/css/vendor/calendar/classic.css">
    <link rel="stylesheet" href="assets/css/vendor/calendar/classic.date.css">
    <link rel="stylesheet" href="assets/css/vendor/jquery.timepicker.min.css">
    <link rel="stylesheet" href="assets/css/vendor/ui-autocomplete.css">
    <link rel="stylesheet" href="assets/css/vendor/ionrangeslider.css">
    <link rel="stylesheet" href="assets/css/vendor/sal.css">


    <link rel="stylesheet" href="assets/css/app.css">
</head>

<body class="o-scroll" id="js-scroll">
    <!-- Preloader-->
    <div id="preloader">
        <div class="loader">
            <div class="wait"> Veuillez patienter svp</div>
            <div class="plane">
                <img src="../../up/19/34/4820.gif" class="plane-img" alt="">
            </div>
            <div class="earth-wrapper">
                <div class="earth"></div>
            </div>
        </div>
        <!-- <dotlottie-player src="https://lottie.host/cd993b04-33dd-4600-a4b6-62897a52f071/6gZOhSlbtF.json" background="#b5c5ff" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player> -->
    </div>
    <!-- Back To Top Start -->
    <a href="#main-wrapper" id="backto-top" class="back-to-top"><i class="fas fa-angle-up"></i></a>
    <!-- Main Wrapper Start -->
    <div id="main-wrapper" class="main-wrapper overflow-hidden">

        <!-- Header Area Start -->
        <header>
            <nav class="main-menu">
                <div class="container-fluid">
                    <div class="main-menu__block">
                        <div class="main-menu__left">

                            <div class="main-menu__logo">
                                <a href="indexTwo.html">
                                    <img src="assets/media/logo.png" alt="FlyNow">
                                </a>
                            </div>

                            <div class="main-menu__nav">
                                <ul class="main-menu__list">
                                    <li><a href="indexTwo.html">Home</a></li>
                                    <li class="dropdown">
                                        <a href="javascript:void(0);">Flight</a>
                                        <ul class="sub-menu">
                                            <li><a href="flight-listing.html">Flight Listing</a></li>
                                            <li><a href="flight-booking.html">Flight Booking</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="javascript:void(0);">Car</a>
                                        <ul class="sub-menu">
                                            <li><a href="car-listing.html">Car Listing</a></li>
                                            <li><a href="car-booking.html">Car Booking</a></li>
                                            <li><a href="car-detail.html">Car Detail</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="javascript:void(0);" class="active">Hotel</a>
                                        <ul class="sub-menu">
                                            <li><a href="hotel-listing.html">Hotel Listing</a></li>
                                            <li><a href="hotel-booking.html" class="active">Hotel Booking</a></li>
                                            <li><a href="hotel-detail.html">Hotel Detail</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="tour-packages.html">Tour Package</a></li>

                                    <li class="dropdown">
                                        <a href="javascript:void(0);">Pages</a>
                                        <ul class="sub-menu">
                                            <li><a href="about-us.html">About</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="sign-up.html">Signup</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="javascript:void(0);">News</a>
                                        <ul>
                                            
                                            <li><a href="blog-listing.html">News Listing</a></li>
                                            <li><a href="blog-detail.html">News Detail</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="main-menu__right">
                            <a href="#" class="main-menu__search search-toggler d-xl-flex d-none">
                                <i class="fal fa-search"></i>
                            </a>
                            <div class="main-menu-signup__login d-xl-flex d-none">
                                <a href="login.html" class="main-menu__login">
                                    Login
                                </a>
                                <div class="center_slach d-xl-flex d-none">/</div>
                                <a href="sign-up.html" class="main-menu__login">
                                    Signup
                                </a>
                            </div>
                            <a href="#" class="main-menu__toggler mobile-nav__toggler">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Header Area end -->


        <!-- Title-Banner Start -->
        <div class="title-banner">
            <div class="container-fluid">
                <div class="row">
                    <div class="banner-area">
                        <img src="assets/media/banner/vacation.png" alt="" class="left-image">
                        <div class="content-box">
                            <h1 class="fw-700 lightest-black">Hotel <br class="title-break">  Booking</h1>
                        </div>
                        <img src="assets/media/banner/hotel.png" alt="" class="right-image">
                    </div>
                </div>
            </div>
        </div>
        <!-- Title-Banner End -->

        <!-- Main Content Start -->
        <div class="page-content m-0">

            <!-- Flight-Booking Start -->
            <section class="flight-booking" data-sal="slide-down" data-sal-duration="800" data-sal-delay="100" data-sal-easing="ease-in-out">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-4 mb-xl-0 mb-32">
                            <div class="flight-booking-detail light-shadow mb-32">
                                <div class="flight-title">
                                    <h4 class="color-black">Hotel Info</h4>
                                </div>
                                <div class="content-block bg-white p-24 light-shadow">
                                    <h4 class="color-black mb-12">GLOBALSTAY Holiday Homes</h4>
                                    <p class="dark-gray mb-32">Lorem ipsum dolor sit amet consectetur. Orci elementum egestas blandit a. Elementum blandit sit egestas urna.</p>
                                    <h5 class="color-black mb-24">Facilities</h5>
                                    <div class="d-flex gap-24 flex-wrap">
                                        <div class="d-flex align-items-center facility gap-8">
                                            <img src="assets/media/hotel/icons/kitchen.png" alt="">
                                            <h6 class="light-black">Kitchen</h6>
                                        </div>  
                                        <div class="d-flex align-items-center facility gap-8">
                                            <img src="assets/media/hotel/icons/pets.png" alt="">
                                            <h6 class="light-black">Pet allowed</h6>
                                        </div>  
                                        <div class="d-flex align-items-center facility gap-8">
                                            <img src="assets/media/hotel/icons/wifi.png" alt="">
                                            <h6 class="light-black">Free WiFi</h6>
                                        </div>  
                                        <div class="d-flex align-items-center facility gap-8">
                                            <img src="assets/media/hotel/icons/parking.png" alt="">
                                            <h6 class="light-black">Free Parking</h6>
                                        </div>  
                                        <div class="d-flex align-items-center facility gap-8">
                                            <img src="assets/media/hotel/icons/balcony.png" alt="">
                                            <h6 class="light-black">Balcony</h6>
                                        </div>  
                                    </div>
                                </div>
                            </div>


                            <div class="flight-booking-detail light-shadow mb-32">
                                <div class="flight-title">
                                    <h4 class="color-black">Your Booking Detail</h4>
                                </div>
                                <div class="content-block bg-white p-24 light-shadow">
                                    <div class="d-flex justify-content-between mb-32">
                                        <div class="flight-departure">
                                            <h6 class="dark-gray">Departure</h6>
                                            <h5 class="color-black">14 Aug, 2023</h5>
                                            <h6 class="dark-gray">To 10:00 AM</h6>
                                        </div>
                                        <div class="vr-line d-xl-flex d-none"></div>
                                        <div class="flight-departure">
                                            <h6 class="dark-gray">Arrival</h6>
                                            <h5 class="color-black">14 Aug, 2023</h5>
                                            <h6 class="dark-gray">From 12:00 AM</h6>
                                        </div>
                                    </div>
                                    <div class="text mb-32">
                                        <h6 class="color-medium-gray mb-2">Total Length of Stay</h6>
                                        <h5 class="color-black">3 Days</h5>
                                    </div>
                                    <hr class="bg-medium-gray mb-32">
                                    <div class="text">
                                        <h6 class="color-primary mb-2">You Selected</h6>
                                        <h5 class="color-black">1 Room for 2 Guests</h5>
                                    </div>
                                </div>
                            </div>


                            <div class="flight-booking-detail light-shadow">
                                <div class="flight-title">
                                    <h4 class="color-black">Price Summary</h4>
                                </div>
                                <div class="content-block bg-white p-24">
                                    <div class="d-flex align-items-center justify-content-between mb-24">
                                        <div>
                                            <h5 class="color-black">Room</h5>
                                            <p class="dark-gray">Lorem ipsum dolor sit amet consectetur.</p>
                                        </div>
                                        <h5 class="color-black">$140</h5>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-24">
                                        <div>
                                            <h5 class="color-black">Room Service</h5>
                                            <p class="dark-gray">Lorem ipsum dolor sit amet consectetur.</p>
                                        </div>
                                        <h5 class="color-black">$50</h5>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-24">
                                        <div>
                                            <h5 class="color-black">Gym Fee</h5>
                                            <p class="dark-gray">Lorem ipsum dolor sit amet consectetur.</p>
                                        </div>
                                        <h5 class="color-black">$30</h5>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-24">
                                        <div>
                                            <h5 class="color-black">Service Charges</h5>
                                            <p class="dark-gray">Lorem ipsum dolor sit amet consectetur.</p>
                                        </div>
                                        <h5 class="color-black">$20</h5>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-24">
                                        <div>
                                            <h5 class="color-black">Sub Total</h5>
                                            <p class="dark-gray">Lorem ipsum dolor sit amet consectetur.</p>
                                        </div>
                                        <h5 class="color-black">$640</h5>
                                    </div>
                                    <hr class="bg-medium-gray mb-24">
                                    <div class="d-flex align-items-center justify-content-between mb-24">
                                        <div>
                                            <h4 class="color-black">Deal / Discount</h4>
                                        </div>
                                        <h4 class="color-black">$40</h4>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <h4 class="color-black">Total</h4>
                                        </div>
                                        <h4 class="color-black">$600</h4>
                                    </div>
            
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            <div class="booking-form">
                                <form action="hotel-listing.html" id="hotel-form" method="post" role="form" class="contact-form form-wizard">
                                    <div class="form-wizard-header">
                                        <ul class="nav list-unstyled form-wizard-steps clearfix">
                                            <li class="nav-item activated">
                                                <button class="nav-link">
                                                    <span class="number">1</span><i class="fal fa-check"></i>
                                                </button>
                                                <h5 class="color-black">Your Selection</h5>
                                            </li>
                                            <li class="nav-item active">
                                                <button class="nav-link">
                                                    <span class="number">2</span><i class="fal fa-check"></i>
                                                </button>
                                                <h5 class="color-black">Your Details</h5>
                                            </li>
                                            <li class="nav-item">
                                                <button class="nav-link">
                                                    <span class="number">3</span><i class="fal fa-check"></i>
                                                </button>
                                                <h5 class="color-black">Final Step</h5>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="wizard-content overflow-visible mb-24">
                                        
                                        <fieldset id="step-2" class="tab-pane show wizard-fieldset p-0">
                                            <div id="wizardValidator">
                                                <div class="detail-form mb-32">
                                                    <h4 class="black p-0 mb-40">Enter Your Details</h4>
                                                    <div class="row">
                                                        <h5 class="light-black mb-16">Are you travelling for work?</h5>
                                                        <div class="custom-control d-flex gap-16 mb-32">
                                                            <div class="radio-button">
                                                                <input type="radio" name="choice" class="custom-control-input" id="yes">
                                                                <label class="custom-control-label light-black" for="yes">Yes</label>
                                                            </div>
                                                            <div class="radio-button">
                                                                <input type="radio" name="choice" class="custom-control-input" id="no">
                                                                <label class="custom-control-label light-black" for="no">No</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 mb-30">
                                                            <input type="text" class="form-control wizard-required" id="first-name" name="name" placeholder="First Name">
                                                                <div class="wizard-form-error"></div>
                                                        </div>
                                                        <div class="col-sm-6 mb-30">
                                                            <input type="text" class="form-control wizard-required" id="last-name" name="last-name" placeholder="Last Name">
                                                            <div class="wizard-form-error"></div>
                                                        </div>
                                                        <div class="col-sm-6 mb-40">
                                                            <input type="email" class="form-control wizard-required" id="email" name="email" placeholder="Email">
                                                            <div class="wizard-form-error"></div>
                                                        </div>
                                                        <h5 class="light-black mb-16">Who are you booking for?</h5>
                                                        <div class="custom-control d-flex gap-16">
                                                            <div class="radio-button">
                                                                <input type="radio" name="booking_choice" class="custom-control-input" id="guest">
                                                                <label class="custom-control-label color-black" for="guest">I am the main guest</label>
                                                            </div>
                                                            <div class="radio-button">
                                                                <input type="radio" name="booking_choice" class="custom-control-input" id="booking">
                                                                <label class="custom-control-label color-black" for="booking">Booking is for someone else</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="detail-form term_conditions mb-32">
                                                    <h5 class="black p-0 mb-24">Premier Deluxe Room with Complimentary Private Beach & Wild Wadi Waterpark Access</h5>
                                                    <div class="d-flex align-items-center facility gap-2 mb-24">
                                                        <img src="assets/media/hotel/icons/tick-lg.png" alt="">
                                                        <h6 class="light-black">Free Cancellation <span class="dark-gray">before 26 August 2023</span></h6>
                                                    </div>
                                                    <div class="d-flex align-items-center facility gap-2 mb-24">
                                                        <img src="assets/media/hotel/icons/tick-lg.png" alt="">
                                                        <h6 class="light-black">Guest <span class="dark-gray">2 Adults, 0 Child (inder 13 of age)</span></h6>
                                                    </div>
                                                    <div class="d-flex align-items-center facility gap-2 mb-32">
                                                        <img src="assets/media/hotel/icons/tick-lg.png" alt="">
                                                        <h6 class="light-black">Parking & High Speed Internet </h6>
                                                    </div>
                                                    <div class="d-flex flex-wrap align-items-center gap-16 mb-24">
                                                        <div class="d-flex align-items-center facility gap-8">
                                                            <img src="assets/media/hotel/icons/icon-2.png" alt="">
                                                            <h6 class="light-black">Sound Proof</h6>
                                                        </div>
                                                        <div class="d-flex align-items-center facility gap-8">
                                                            <img src="assets/media/hotel/icons/icon-3.png" alt="">
                                                            <h6 class="light-black">44m²</h6>
                                                        </div>
                                                        <div class="d-flex align-items-center facility gap-8">
                                                            <img src="assets/media/hotel/icons/icon-4.png" alt="">
                                                            <h6 class="light-black">Landmarks</h6>
                                                        </div>
                                                        <div class="d-flex align-items-center facility gap-8">
                                                            <img src="assets/media/hotel/icons/icon-5.png" alt="">
                                                            <h6 class="light-black">City View</h6>
                                                        </div>
                                                        <div class="d-flex align-items-center facility gap-8">
                                                            <img src="assets/media/hotel/icons/icon-6.png" alt="">
                                                            <h6 class="light-black">Air Conditioning</h6>
                                                        </div>
                                                        <div class="d-flex align-items-center facility gap-8">
                                                            <img src="assets/media/hotel/icons/icon-7.png" alt="">
                                                            <h6 class="light-black">Private bathroom</h6>
                                                        </div>
                                                        <div class="d-flex align-items-center facility gap-8">
                                                            <img src="assets/media/hotel/icons/icon-8.png" alt="">
                                                            <h6 class="light-black">Flat-screen TV</h6>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control wizard-required" id="full_name" name="name" placeholder="Full Guest Name">
                                                            <div class="wizard-form-error"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="detail-form extra-item p-24 mb-32">
                                                    <h4 class="black p-0 mb-16">Special Requests</h4>
                                                    <p class="dark-gray fw-400 mb-24">Lorem ipsum dolor sit amet consectetur. Enim sodales aliquet interdum vitae mi. <br> Habitant fusce sit quis sit lorem. Porta lectus vitae pharet. <span class="h6 light-black"> (Optional)</span></p>
                                                    <textarea name="message" class="form-control" id="msg" cols="30" rows="3" placeholder="Your Text"></textarea>
                                                </div>
                                                <div class="detail-form extra-item p-24 mb-32">
                                                    <h4 class="black p-0 mb-16">Your Arrival Time</h4>
                                                    <ul>
                                                        <li class="dark-gray mb-8">Lorem ipsum dolor sit amet consectetur. Enim sodales aliquet interdum vitae mi. <br> Habitant fusce sit quis sit lorem. Porta lectus vitae pharet.</li>
                                                        <li class="dark-gray mb-24">Lorem ipsum dolor sit amet consectetur. Lorem proin faucibus sit non.</li>
                                                    </ul>
                                                    <div class="hotel-booking-time">
                                                        
                                                        <div class="input-date-picker">
                                                            <label for="dateCheck" class="h-16 color-medium-gray">Check In</label>
                                                            <div class="d-flex align-items-center gap-2"> 
                                                                <i class="fal fa-calendar-alt"></i>
                                                                <input type="text" class="sel-input date_from" id="dateCheck" placeholder="Aug 18, 2023">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex gap-24">
                                                <a href="javascript:;" class="form-wizard-next-btn cus-btn w-100">
                                                    Next
                                                </a>
                                            </div>
                                        </fieldset>
                                        <fieldset id="step-3" class="tab-pane wizard-fieldset p-0">
                                            <!-- <form action="hotel-booking.html" method="post" class="contact-form"> -->
                                            <div class="detail-form mb-32">
                                                <h4 class="black p-0 mb-24">Enter you info</h4>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="gender-select">
                                                            <div class="select">
                                                                <select name="nationality" id="nationality" class="wizard-required">
                                                                    <option selected="" disabled="">Nationality</option>
                                                                    <option value="american">American</option>
                                                                    <option value="britian">Britian</option>
                                                                    <option value="indian">Indian</option>
                                                                    <option value="canadian">Canadian</option>
                                                                    <option value="pakistani">Pakistani</option>
                                                                </select>
                                                                <div class="wizard-form-error"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control wizard-required" required="" name="phone" id="ph_number" placeholder="Number">
                                                        <div class="wizard-form-error"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="detail-form mb-32">
                                                <h4 class="black p-0 mb-8">Save your details!</h4>
                                                <p class="dark-gray mb-24">Use your contact details to create an account and speed up future <br> bookings.(We won't save your payment information.)</p>
                                                <div class="filter-checkbox mb-24">
                                                    <input type="checkbox" id="save_detail">
                                                    <label for="save_detail" class="dark-gray">Save my detail so I can book faster next time.</label>
                                                </div>
                                                <p class="dark-gray">By signing in or creating an account, you agree with our <a href="privacy-policy.html" class="color-primary">Terms & conditions</a></p>
                                            </div>
                                            <div class="detail-form mb-32">
                                                <h4 class="black p-0 mb-24">When would you like to pay?</h4>
                                                <div class="custom-control">
                                                    <div class="radio-button mb-8">
                                                        <input type="radio" name="payMentmethod" required="" class="custom-control-input input-control" id="payLater">
                                                        <label class="custom-control-label pay light-black" for="payLater">Pay Later</label>
                                                    </div>
                                                    <p class="dark-gray mb-24 pl-36">Lorem ipsum dolor sit amet consectetur. Orci elementum egestas blandit a. Elementum blandit sit egestas urna.</p>
                                                    <div class="radio-button mb-8">
                                                        <input type="radio" name="payMentmethod" required="" class="custom-control-input input-control" id="payNow">
                                                        <label class="custom-control-label pay light-black" for="payNow">Pay Now</label>
                                                    </div>
                                                    <p class="dark-gray pl-36">Lorem ipsum dolor sit amet consectetur. Orci elementum egestas blandit a. Elementum blandit sit egestas urna.</p>

                                                </div>
                                            </div>
                                            <div class="detail-form v-2">
                                                <h4 class="black p-0 mb-24">How would you like to pay?</h4>
                                                <div class="content-block mb-32">
                                                    <div class="radio-tile-group sidebar d-block">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="input-container">
                                                                    <input id="payment" class="radio-button" type="radio" name="radio" value="payment">
                                                                    <div class="radio-tile wizard-page">
                                                                        <label for="payment" class="radio-tile-label wizard-label"><i class="fal fa-credit-card-front"></i>&nbsp;&nbsp;New Card</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="input-container">
                                                                    <input id="g-pay" class="radio-button" type="radio" name="radio" value="g-pay">
                                                                    <div class="radio-tile wizard-page">
                                                                        <label for="g-pay" class="radio-tile-label wizard-label"><img src="assets/media/icons/google.png" alt="">&nbsp;&nbsp;Google Pay</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h4 class="black p-0 mb-24">Account Holder Details</h4>
                                                <div class="row">
                                                    <div class="col-sm-6 mb-24">
                                                        <input type="text" class="form-control wizard-required" required="" name="name" id="holder-name" placeholder="Card Holder's Name">
                                                        <div class="wizard-form-error"></div>
                                                    </div>
                                                    <div class="col-sm-6 mb-24">
                                                        <input type="text" class="form-control wizard-required" required="" name="number" id="card-name" placeholder="Card Number">
                                                        <div class="wizard-form-error"></div>
                                                    </div>
                                                    <div class="col-sm-6 mb-24">
                                                        <div class="input-date-picker">
                                                            <input type="text" class="sel-input date_from form-control wizard-required" name="date" id="exp-date" required="" placeholder="Expiry Date">
                                                            <div class="wizard-form-error"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 mb-24">
                                                        <input type="text" class="form-control wizard-required" required="" name="cvc" id="cVc" placeholder="CVC">
                                                        <div class="wizard-form-error"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- </form> -->
                                            <div class="d-flex gap-24">
                                                <a href="javascript:;" class="form-wizard-previous-btn cus-btn w-100">
                                                    Back
                                                </a>
                                                <a href="hotel-listing.html" class="form-wizard-next-btn cus-btn w-100">
                                                    Submit
                                                </a>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <!-- <h6><a href="#step-2" class="cus-btn float-end btn"><span class="icon"><img src="assets/media/icons/orange-cart.png" alt=""></span>Continue</a></h6>
                                     <div class="sw-toolbar-elm toolbar toolbar-bottom" role="toolbar">
                                         <button class="btn sw-btn-prev sw-btn" type="button">Continue</button>
                                        <button class="btn sw-btn-next sw-btn" type="button">Next</button> 
                                    </div> -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Flight-Booking End -->

        </div>
        <!-- Main Content End -->

        <!-- Footer Start -->
        <footer class="bg-white p-40 mt-48" data-sal="slide-up" data-sal-duration="800" data-sal-delay="100" data-sal-easing="ease-in-out">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-lg-0 mb-32 ">
                        <a href=""><img src="assets/media/logo.png" alt="" class="mb-16"></a>
                        <p class="dark-gray mb-16">Lorem ipsum dolor sit amet consectetur. Aliquet vulputate augue
                            penatibus in
                            libero et id aliquam. In ridiculus pretium est velit euismod. </p>
                        <h6 class="lightest-black mb-8">Subscribe to our special offers</h6>
                        <form action="indexTwo.html" method="post">
                            <input type="email" class="form-control" placeholder="Email address" name="email">
                            <button type="submit" class="subscribe">Subscribe</button>
                        </form>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 col-6 mb-lg-0 mb-32">
                        <h4 class="light-black mb-24">Booking</h4>
                        <div class="our-links">
                            <ul class="unstyled">
                                <li class="mb-16"><a href="flight-booking.html" class="light-black">Book Flights</a>
                                </li>
                                <li class="mb-16"><a href="tour-packages.html" class="light-black">Travel Services</a>
                                </li>
                                <li class="mb-16"><a href="car-booking.html" class="light-black">Transportation</a></li>
                                <li class="mb-16"><a href="tour-packages.html" class="light-black">Planning Your
                                        Trip</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 col-6 mb-lg-0 mb-32">
                        <h4 class="light-black mb-24">Useful Links</h4>
                        <div class="our-links">
                            <ul class="unstyled">
                                <li class="mb-16"><a href="indexTwo.html" class="light-black">Home</a>
                                </li>
                                <li class="mb-16"><a href="blog-listing.html" class="light-black">Blogs</a>
                                </li>
                                <li class="mb-16"><a href="about-us.html" class="light-black">About </a></li>
                                <li class="mb-16"><a href="contact.html" class="light-black">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 col-6 mb-md-0 mb-32">
                        <h4 class="light-black mb-24">Manage</h4>
                        <div class="our-links">
                            <ul class="unstyled">
                                <li class="mb-16"><a href="flight-booking.html" class="light-black">Check-in</a></li>
                                <li class="mb-16"><a href="tour-packages.html" class="light-black">Manage Your
                                        Booking</a></li>
                                <li class="mb-16"><a href="car-listing.html" class="light-black">Chaurfeur Drive</a>
                                </li>
                                <li class="mb-16"><a href="flight-listing.html" class="light-black">Flight Status</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <h4 class="light-black mb-16">Contact Us</h4>
                        <div class="follow-us">
                            <ul class="unstyled">
                                <li class="mb-8"><img src="assets/media/icons/location-bk.png" alt="">&nbsp;&nbsp;123
                                    Main Street, Anytown, USA.</li>
                                <li class="mb-8 h-27 color-primary"><img src="assets/media/icons/telephone.png" alt="">&nbsp;&nbsp;+1 234 567 890</li>
                                <li class="mb-24"><a href=""><img src="assets/media/icons/mail.png" alt="">&nbsp;&nbsp;email@example.com</a></li>
                            </ul>
                        </div>
                        <div class="social-link mb-32">
                            <h6 class="light-black mb-8">Follow Us!</h6>
                            <ul class="unstyled">
                                <li><a href="" class="active"><img src="assets/media/icons/instagram.png" alt=""></a></li>
                                <li><a href=""><img src="assets/media/icons/facebook.png" alt=""></a></li>
                                <li><a href=""><img src="assets/media/icons/linkedin.png" alt=""></a></li>
                                <li><a href=""><img src="assets/media/icons/twitter.png" alt=""></a></li>
                            </ul>
                        </div>
                        <p class="light-black">©2023 FlyNow All Rights Reserved.</p>

                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End  -->

        <!-- modal-popup area Start  -->
        <div class="search-popup">
            <div class="search-popup__overlay search-toggler"></div>
            <div class="search-popup__content">
                <form role="search" method="get" class="search-popup__form" action="indexTwo.html">
                    <input type="text" id="search" placeholder="Search Here...">
                    <button type="submit"><i class="fal fa-search"></i></button>
                </form>
            </div>
        </div>
        <!-- search-popup end-->
    </div>


    <!-- Mobile Menu Start -->
    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"></span>
            <div class="logo-box">
                <a href="indexTwo.html" aria-label="logo image"><img src="assets/media/logo.png" alt="" class="invisible"></a>
            </div>
            <div class="mobile-nav__container"></div>
            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fas fa-envelope"></i>
                    <a href="mailto:example@company.com">example@company.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:+12345678">+123 (4567) -890</a>
                </li>
            </ul>
            <!-- <div class="mobile-nav__social">
        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
        <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
      </div> -->
        </div>
    </div>
    <!-- Mobile Menu End -->

    <!-- Jquery Js -->
    <script src="assets/js/vendor/jquery-3.6.3.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/jquery-appear.js"></script>
    <script src="assets/js/vendor/jquery-validator.js"></script>
    <!-- <script src="assets/js/vendor/jquery.smartWizard.min.js"></script> -->
    <script src="assets/js/vendor/calendar/popper.min.js"></script>
    <script src="assets/js/vendor/jquery-appear.js"></script>
    <script src="assets/js/vendor/jquery-validator.js"></script>
    <script src="assets/js/vendor/calendar/picker.js"></script>
    <script src="assets/js/vendor/calendar/picker.date.js"></script>
    <script src="assets/js/vendor/autoComplete.js"></script>
    <script src="assets/js/vendor/jquery.timepicker.min.js"></script>
    <script src="assets/js/vendor/sal.js"></script>
    <script src="assets/js/vendor/wizard.js"></script>

    <!-- Site Scripts -->
    <script src="assets/js/date.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>