<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="FlyNow HTML5 Template">

    <title>FlyNow | Travling And Tours Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/media/favicon.png">

    <!-- All CSS files -->
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="assets/css/fonts/icomoon/style.css">
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/slick.css">
    <link rel="stylesheet" href="assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="assets/sass/helpers/_search-popup.scss">
    <link rel="stylesheet" href="assets/css/vendor/aksVideoPlayer.css">

    <link rel="stylesheet" href="assets/css/app.css">
</head>

<body class="o-scroll" id="js-scroll">
    <!-- Preloader-->
    <div id="preloader">
        <div class="loader">
            <div class="wait"> Veuillez patienter svp</div>
            <div class="plane">
                <img src="../../up/19/34/4820.gif" class="plane-img" alt="">
            </div>
            <div class="earth-wrapper">
                <div class="earth"></div>
            </div>
        </div>
        <!-- <dotlottie-player src="https://lottie.host/cd993b04-33dd-4600-a4b6-62897a52f071/6gZOhSlbtF.json" background="#b5c5ff" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player> -->
    </div>
    <!-- Back To Top Start -->
    <a href="#main-wrapper" id="backto-top" class="back-to-top"><i class="fas fa-angle-up"></i></a>
    <!-- Main Wrapper Start -->
    <div id="main-wrapper" class="main-wrapper overflow-hidden">

        <!-- Main Content Start -->
        <div class="page-content m-0">

        <!-- Signup Form Start -->
        <section class="signup bg-white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-7 mb-lg-0 mb-48">
                    <div class="form-block">
                        <a href="indexTwo.html" class="color-primary h6 mb-30"><i class="fal fa-chevron-left"></i>&nbsp;&nbsp;Back To Home</a>
                        <h2 class="mb-30 light-black">Log in</h2>
                            <div class="google mb-24">
                                <h6 class="color-white"><a href="" class="link-btn mb-24 mb-sm-0"> Continue with Google&nbsp;<img src="assets/media/icons/google-icon.png" alt=""></a></h6>
                            </div>
                            <div class="facebook mb-30">
                                <h6 class="color-white"><a href="" class="link-btn"> Continue with Facebook&nbsp;<img src="assets/media/icons/facebook-icon.png" alt=""></a></h6>
                            </div>
                        <h5 class="or mb-8">or</h5>
                        <h6 class="mb-24 text-center">Sign up with your email address</h6>
                        <form method="post" action="login.html" class="form-group contact-form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mb-24">
                                        <input type="email" class="form-control" id="signup-mail" name="email" required="" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="mb-24">
                                        <input type="password" class="form-control" id="create-password" name="password" required="" placeholder="Password">
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="cus-btn small-pad mb-24">Login</button>
                                    <!-- Alert Message -->
                                    <div id="message" class="alert-msg"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
        </section>
        <!-- Signup Form End -->

        </div>
        <!-- Main Content End -->
        
    </div>


    <!-- Mobile Menu Start -->
    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"></span>
            <div class="logo-box">
                <a href="indexTwo.html" aria-label="logo image"><img src="assets/media/logo.png" alt="" class="invisible"></a>
            </div>
            <div class="mobile-nav__container"></div>
            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fas fa-envelope"></i>
                    <a href="mailto:example@company.com">example@company.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:+12345678">+123 (4567) -890</a>
                </li>
            </ul>
            <!-- <div class="mobile-nav__social">
        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
        <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
      </div> -->
        </div>
    </div>
    <!-- Mobile Menu End -->

    <!-- Jquery Js -->
    <script src="assets/js/vendor/jquery-3.6.3.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/slick.min.js"></script>
    <script src="assets/js/vendor/jquery-appear.js"></script>
    <script src="assets/js/vendor/jquery-validator.js"></script>
    <script src="assets/js/vendor/aksVideoPlayer.js"></script>

    <!-- Site Scripts -->
    <script src="assets/js/app.js"></script>
</body>

</html>