<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="FlyNow HTML5 Template">

    <title>FlyNow | Travling And Tours Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/media/favicon.png">

    <!-- All CSS files -->
    <link rel="stylesheet" href="/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="/css/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/css/vendor/slick.css">
    <link rel="stylesheet" href="/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="/sass/helpers/_search-popup.scss">
    <link rel="stylesheet" href="/css/vendor/sal.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body class="o-scroll" id="js-scroll">
<!-- Preloader Start-->
<th:block th:insert="~{/fragments/preloader::preloader}"/>
<!-- Preloader End-->
    <!-- Back To Top Start -->
    <a href="#main-wrapper" id="backto-top" class="back-to-top"><i class="fas fa-angle-up"></i></a>
    <!-- Main Wrapper Start -->
    <div id="main-wrapper" class="main-wrapper overflow-hidden">

        <!-- Header Area Start -->
        <th:block th:insert="~{/fragments/header::header}"/>
        <!-- Header Area End -->

        <!-- Title-Banner Start -->
        <div class="title-banner">
            <div class="container-fluid">
                <div class="row">
                    <div class="banner-area">
                        <img src="/media/banner/vacation.png" alt="" class="left-image">
                        <div class="content-box">
                            <h1 class="fw-700 lightest-black">News <br class="title-break">  Detail</h1>
                        </div>
                        <img src="/media/banner/plane-2.png" alt="" class="right-image">
                    </div>
                </div>
            </div>
        </div>
        <!-- Title-Banner End -->

        <!-- Main Content Start -->
        <div class="page-content m-0">

        <!-- Our Latest Blogs Start -->
        <section class="blog-detail p-60 mb-60">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xxl-9 col-xl-8 col-lg-12 mb-xl-0 mb-48">
                        <!-- Blog Bar Start -->

                            <div class="blog_info_bar bg-white light-shadow p-24 mb-24 br-10">
                                <div class="author">
                                    <h5 class="light-black"><i class="fal fa-user-alt dark-gray"></i>&nbsp;Author:</h5>
                                    <h6 class="dark-gray fw-400">Matthew Drake</h6>
                                </div>
                                <div class="author">
                                    <h5 class="light-black"><i class="fal fa-calendar-alt dark-gray"></i>&nbsp;Published Date:</h5>
                                    <h6 class="dark-gray fw-400">30th NOV, 2023</h6>
                                </div>
                            </div>
                        <!-- Blog Bar End -->
                        <h3 class="h1 light-black fw-700 mb-24">Embark on Journeys of Discovery and Wanderings.</h3>
                        <div class="result-tags mb-24">
                            <h5 class="dark-gray">#Anime</h5>
                            <h5 class="dark-gray">#Love</h5>
                            <h5 class="dark-gray">#Otaku</h5>
                            <h5 class="dark-gray">#Fantasy</h5>
                        </div>
                        <div class="row mb-32">
                            <p class="light-black fw-400 mb-xl-0 mb-24">Lorem ipsum dolor sit amet consectetur. Mauris diam tristique cursus orci. Etiam
                                fermentum duis lectus dictum tortor ipsum. Urna vestibulum morbi vivamus condimentum pellentesque. Sed feugiat felis
                                tristique commodo. Rhoncus bibendum neque fermentum dolor nec. Egestas massa a donec ut vestibulum diam a platea
                                aliquam. Sem arcu neque odio vivamus ut. Quis velit nulla adipiscing eu vulputate tortor lobortis eu eget. Mi.
                            </p>
                        </div>
                        <img src="assets/media/blog/blog-detail.png" alt="" class="br-25 light-shadow mb-24" data-sal="slide-right" data-sal-duration="800" data-sal-delay="100" data-sal-easing="ease-in-out">
                        <p class="light-black fw-400 mb-24">Lorem ipsum dolor sit amet consectetur. Mauris hendrerit non est commodo at adipiscing. Ut
                            iaculis vulputate sit et ullamcorper ligula nisl arcu. Cras dictum et mi hendrerit nisi magna. Nulla cursus vel sed
                            sem. Tincidunt ut id platea dui aenean consequat sed. Tortor tellus egestas pulvinar mattis adipiscing. Non massa
                            egestas massa metus neque volutpat a neque. Malesuada aliquet nec in elementum. Arcu mauris nisi scelerisque ut sem
                            viverra viverra a. Volutpat enim enim a.</p>
                        <div class="row" data-sal="slide-up" data-sal-duration="800" data-sal-delay="100" data-sal-easing="ease-in-out">
                            <div class="offset-2 col-lg-1">
                                <div class="text-xl-end">
                                    <img src="assets/media/icons/qoutes.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-8">
                            <h3 class="light-black text-center fw-600 mt-32 mb-24">Lorem ipsum dolor sit amet consectetur. <br class="d-xxl-flex d-none"> Vulputate pulvinar nulla nunc posuere at <br class="d-xxl-flex d-none"> malesuada nulla magnis habitant.</h3>
                            </div>
                            <p class="light-black fw-400 mb-24">Lorem ipsum dolor sit amet consectetur. Sagittis ut tellus cursus nascetur ut nunc bibendum mattis. Eget
                            ut felis urna natoque. Sed lacus diam ipsum integer vitae morbi hendrerit viverra. Mauris sed cursus in turpis vel
                            fringilla pretium odio. Felis suspendisse orci potenti quis etiam netus. Eu et blandit posuere senectus sed pulvinar.
                            Phasellus senectus pharetra ornare sed adipiscing dui magna.</p>
                            <p class="light-black fw-400 mb-32">Lorem ipsum dolor sit amet consectetur. Sagittis ut tellus cursus nascetur ut nunc bibendum mattis. Eget
                            ut felis urna natoque. Sed lacus diam ipsum integer vitae morbi hendrerit viverra. Mauris sed cursus in turpis vel
                            fringilla pretium odio. Felis suspendisse orci potenti quis etiam netus. Eu et blandit posuere senectus sed pulvinar.
                            Phasellus senectus pharetra ornare sed adipiscing dui magna.</p>
                            <p class="light-black fw-400 mb-24">
                                Lorem ipsum dolor sit amet consectetur. Cursus dignissim vitae eget vitae tempus urna eu risus sed. Mattis natoque
                                enim egestas mauris. Elementum sem vel aliquet quis in enim massa a. Ac sapien habitasse purus aliquam. Diam gravida
                                purus facilisis cursus malesuada. Integer lorem convallis quis leo nisl cras. Eu mi nec nulla aliquam.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 mb-lg-0 mb-24">
                                <img src="assets/media/blog/blog-detail-2.png" alt="" class="br-25">
                            </div>
                            <div class="col-lg-5">
                                <p class="light-black fw-400"> 
                                    Lorem ipsum dolor sit amet consectetur. Sapien ornare mattis pellentesque adipiscing cursus ac odio id. Felis eu
                                    aliquam mattis duis id. Accumsan morbi sit facilisis sed eleifend ut. Adipiscing sollicitudin facilisis tortor mi at
                                    ultrices. Lacus mi tincidunt nibh quam posuere. Pellentesque aliquam auctor id facilisi in. Gravida senectus varius
                                    sapien vestibulum facilisis integer nec urna in. Egestas diam aliquet cras nulla arcu scelerisque. Elit fermentum
                                    sagittis dolor quis adipiscing adipiscing. Scelerisque vulputate proin ultrices molestie dignissim auctor ut id.
                                    Fringilla consequat nunc eu rhoncus. Arcu a vivamus velit sed sed.
                                    Sed suspendisse faucibus at urna tempor elementum. Semper lorem nec fringilla morbi mauris. Id est etiam dolor
                                    sagittis nisi. Diam amet sagittis elementum pellentesque accumsan in adipiscing ullamcorper.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-lg-6">
                        <div class="sidebar bg-lightest-gray br-30 p-24">
                            <div class="filters">
                                <form action="news.html" method="post" class="form-group contact-from mb-32">
                                    <input type="text" class="form-control" placeholder="Search" name="name">
                                    <button type="submit" class="">Search</button>
                                </form>
                                
                                <div class="filter-block blog-side-bar mb-32">
                                    <div class="title mb-24">
                                        <h4 class="light-black">Categories</h4>
                                    </div>
                                    <div class="tags">
                                        <div class="medics-tag">
                                            <h6 class="light-black fw-400"><a href="news.html">Anime</a></h6>
                                        </div>
                                        <div class="medics-tag">
                                            <h6 class="light-black fw-400"><a href="news.html">Manga</a></h6>
                                        </div>
                                        <div class="medics-tag">
                                            <h6 class="light-black fw-400"><a href="news.html">Cosplay</a></h6>
                                        </div>
                                        <div class="medics-tag">
                                            <h6 class="light-black fw-400"><a href="news.html">Light Noval</a></h6>
                                        </div>
                                    
                                    </div>
                                </div>
                                <div class="filter-block blog-side-bar">
                                    <div class="title mb-24">
                                        <h4 class="light-black">Popular Blogs</h4>
                                    </div>
                                    <div class="article-block mb-24">
                                        <div class="article-img-box br-15">
                                            <a href="news.html"><img src="/media/blog/blog-side-1.png" alt="" class="article-img"></a>
                                        </div>
                                        <div class="article-content">
                                            <h6 class="light-black fw-600 mb-8"><a href="news.html">Urban Explorations: Navigating Cities and...</a></h6>
                                            <a href="news.html" class="fw-600 color-primary">Read More&nbsp;&nbsp;<i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="article-block mb-24">
                                        <div class="article-img-box br-15">
                                            <a href="news.html"><img src="/media/blog/blog-side-2.png" alt="" class="article-img"></a>
                                        </div>
                                        <div class="article-content">
                                            <h6 class="light-black fw-600 mb-8"><a href="news.html">Horizons Beyond Borders: Expanding...</a>
                                            </h6>
                                            <a href="news.html" class="fw-600 color-primary">Read More&nbsp;&nbsp;<i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="article-block">
                                        <div class="article-img-box br-15">
                                            <a href="news.html"><img src="/media/blog/blog-side-3.png" alt="" class="article-img"></a>
                                        </div>
                                        <div class="article-content">
                                            <h6 class="light-black fw-600 mb-8"><a href="news.html">Wings of Adventure: Exploring the World by...</a>
                                            </h6>
                                            <a href="news.html" class="fw-600 color-primary">Read More&nbsp;&nbsp;<i class="fal fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Our Latest Blogs End -->

        </div>
        <!-- Main Content End -->

        <!-- Footer Start -->
        <th:block th:insert="~{/fragments/footer::footer}"/>
        <!-- Footer Area End  -->

        <!-- modal-popup area Start  -->
        <div class="search-popup">
            <div class="search-popup__overlay search-toggler"></div>
            <div class="search-popup__content">
                <form role="search" method="get" class="search-popup__form" action="indexTwo.html">
                    <input type="text" id="search" placeholder="Search Here...">
                    <button type="submit"><i class="fal fa-search"></i></button>
                </form>
            </div>
        </div>
        <!-- search-popup end-->
    </div>


<!-- Mobile Menu Start -->
<th:block th:insert="~{/fragments/mobileMenu::mobileMenu}"/>
<!-- Mobile Menu End -->

    <!-- modal-popup area start  -->
  <div class="modal fade" id="videoModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="top_bar">
          <h4 class="modal-title">Classical Optical Glasses</h4>
          <button type="button" class="close" id="closeVideoModalButton" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fas fa-times"></i> <b>Close</b></span>
          </button>
        </div>
        <div class="modal-body">
          <video controls="" title="Video">
            <source src="/media/blog/airline-ad.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
  <!-- modal-popup area end  -->

    <!-- Jquery Js -->
    <script src="/js/vendor/jquery-3.6.3.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/vendor/slick.min.js"></script>
    <script src="/js/vendor/jquery-appear.js"></script>
    <script src="/js/vendor/jquery-validator.js"></script>
    <script src="/js/vendor/sal.js"></script>
    <!-- Site Scripts -->
    <script src="/js/app.js"></script>
</body>

</html>