<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="FlyNow HTML5 Template">
    <title>FlyNow | Company</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/media/favicon.png">
    <!-- All CSS files -->
    <link href="/staticAdminManager/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="/css/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/css/vendor/slick.css">
    <link rel="stylesheet" href="/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="/sass/helpers/_search-popup.scss">
    <link rel="stylesheet" href="/css/vendor/aksVideoPlayer.css">
    <link rel="stylesheet" href="/css/vendor/datetime.css">
    <link rel="stylesheet" href="/css/vendor/calendar/classic.css">
    <link rel="stylesheet" href="/css/vendor/calendar/classic.date.css">
    <link rel="stylesheet" href="/css/vendor/jquery.timepicker.min.css">
    <link rel="stylesheet" href="/css/vendor/ui-autocomplete.css">
    <link rel="stylesheet" href="/css/vendor/ionrangeslider.css">
    <link rel="stylesheet" href="/css/vendor/sal.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/pagination.css">
    <link rel="stylesheet" href="/css/starRating.css">

    <style>

        .office {
            background-color: white;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            display: flex;
        }

        .office img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            margin-right: 20px;
        }

        .office h2 {
            font-size: 24px;
            margin-bottom: 15px;
            color: #333;
        }

        .office p {
            font-size: 16px;
            color: #666;
            margin-bottom: 5px;
        }

        .icon-img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }

        .office-info {
            margin-top: 50px;
        }
    </style>
</head>

<body class="o-scroll" id="js-scroll">
<!-- Preloader Start-->
<th:block th:insert="~{/fragments/preloader::preloader}"/>
<!-- Preloader End-->

<div id="main-wrapper" class="main-wrapper overflow-hidden">
    <!-- Header Area Start -->
    <th:block th:insert="~{/fragments/header::header}"/>
    <!-- Header Area End -->

    <!-- Title-Banner Start -->
    <div class="title-banner">
        <div class="container-fluid">
            <div class="row">
                <div class="banner-area v-2">
                    <img src="/media/banner/vacation.png" alt="" class="left-image">
                    <div class="content-box text-alignment">
                        <a th:href="@{/company/{companyId}(companyId=${company.id})}"><h1 th:text="${company.name}"
                                                                                          class="fw-700 lightest-black">
                            Companies</h1></a>
                        <h5 class="fw-700 lightest-black">Offices</h5>
                    </div>
                    <img src="/media/banner/plane-2.png" alt="" class="right-image">
                </div>
            </div>
        </div>
    </div>
    <!-- Title-Banner End -->

    <!-- Main Content Start -->
    <div class="page-content m-0">
        <section class="booking mb-60">
            <div class="container-fluid">
                <div class="content">
                    <div class="office-info">
                        <div th:if="${offices.isEmpty()}" class="text-center py-4">
                            <p class="text-muted">Офисы не найдены.</p>
                        </div>
                        <div class="row" th:each="office : ${offices}">
                            <div class="col-md-6">
                                <div class="office">
                                    <img style="width: 222px" src="/media/icons/hotel-lg.png" alt="Plane">
                                    <div>
                                        <p><img class="icon-img" src="/media/icons8-country-50.png"
                                                alt="model">Country:<strong>
                                            <span th:text="${office.country.name}">Модель: Boeing 747</span></strong></p>
                                        <p><img class="icon-img" src="/media/icons8-city-buildings-50.png" alt="bussiness">
                                            City:<strong><span
                                                    th:text="${office.city.name}">Бизнес-класс: 30 мест</span></strong></p>
                                        <p><img class="icon-img" src="/media/icons8-street-50.png" alt="seats"> Street:
                                            <strong><span
                                                    th:text="${office.street}">Эконом-класс: 420 мест</span></strong>
                                        </p>
                                        <p><img class="icon-img" src="/media/icons8-phone-50.png" alt="seats"> Phone:
                                            <strong><span
                                                    th:text="${office.phone}">Эконом-класс: 420 мест</span></strong></p>
                                        <p><img class="icon-img" src="/media/icons8-open-50.png" alt="seats"> Open Time:
                                            <strong><span
                                                    th:text="${#dates.format(office.workStartTime, 'HH:mm')}">Эконом-класс: 420 мест</span></strong>
                                        </p>
                                        <p><img class="icon-img" src="/media/icons8-closed-50.png" alt="seats"> Closed
                                            Time:
                                            <strong><span th:text="${#dates.format(office.workEndTime, 'HH:mm')}">Эконом-класс: 420 мест</span></strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Main Content End -->

    <!-- Footer Start -->
    <th:block th:insert="~{/fragments/footer::footer}"/>
    <!-- Footer Area End  -->
</div>
<!-- Mobile Menu Start -->
<th:block th:insert="~{/fragments/mobileMenu::mobileMenu}"/>
<!-- Mobile Menu End -->


<!-- Jquery Js -->
<script src="/js/vendor/jquery-3.6.3.min.js"></script>
<script src="/js/vendor/calendar/popper.min.js"></script>
<script src="/js/vendor/bootstrap.min.js"></script>
<script src="/js/vendor/slick.min.js"></script>
<script src="/js/vendor/jquery-appear.js"></script>
<script src="/js/vendor/jquery-validator.js"></script>
<script src="/js/vendor/aksVideoPlayer.js"></script>
<script src="/js/vendor/tilt.jquery.js"></script>
<script src="/js/vendor/calendar/picker.js"></script>
<script src="/js/vendor/calendar/picker.date.js"></script>
<script src="/js/vendor/autoComplete.js"></script>
<script src="/js/vendor/jquery.timepicker.min.js"></script>
<script src="/js/vendor/ionrangeslider.js"></script>
<script src="/js/vendor/sal.js"></script>
<!-- Site Scripts -->
<script src="/js/date.js"></script>
<script src="/js/starAndRateCompany.js"></script>
<script src="/js/app.js"></script>
</body>

</html>
